apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- manager.yaml
patches:
- path: unsealer_env_patch.yaml
  target:
    kind: Deployment
images:
- name: controller
  newName: example.com/vault-unseal-controller
  newTag: test-e2e
