---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - pods
  - secrets
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - batch
  resources:
  - jobs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - platform.didactiklabs.io
  resources:
  - unseals
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - platform.didactiklabs.io
  resources:
  - unseals/finalizers
  verbs:
  - update
- apiGroups:
  - platform.didactiklabs.io
  resources:
  - unseals/status
  verbs:
  - get
  - patch
  - update
