apiVersion: v1
kind: Namespace
metadata:
  labels:
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: vault-unseal-controller
    control-plane: controller-manager
  name: vault-unseal-controller-system
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.19.0
  name: unseals.platform.didactiklabs.io
spec:
  group: platform.didactiklabs.io
  names:
    kind: Unseal
    listKind: UnsealList
    plural: unseals
    singular: unseal
  scope: Cluster
  versions:
  - additionalPrinterColumns:
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    - jsonPath: .status.vaultStatus
      name: Vault Status
      type: string
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Unseal is the Schema for the unseals API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: spec defines the desired state of Unseal
            properties:
              caCertSecret:
                description: Reference to secret containing CA certificate for validating
                  requests against vault instances (need to be in the same namespace
                  as the threshold keys secret)
                type: string
              retryCount:
                default: 3
                description: Number of retry, default is 3
                format: int32
                type: integer
              thresholdKeysSecretRef:
                description: Reference to secret containing threshold keys. Threshold
                  keys are unseal keys required to unseal your vault instance(s)
                properties:
                  name:
                    description: Name of the secret
                    type: string
                  namespace:
                    description: Namespace of the secret
                    type: string
                required:
                - name
                - namespace
                type: object
              tlsSkipVerify:
                default: false
                description: Boolean to define if you want to skip tls certificate
                  validation. Set true of false (default is false)
                type: boolean
              vaultNodes:
                description: 'An array of vault instances to call api endpoints for
                  unseal, example for one instance: https://myvault01.domain.local:8200'
                items:
                  type: string
                type: array
            required:
            - thresholdKeysSecretRef
            - vaultNodes
            type: object
          status:
            description: status defines the observed state of Unseal
            properties:
              conditions:
                items:
                  description: Condition contains details for one aspect of the current
                    state of this API Resource.
                  properties:
                    lastTransitionTime:
                      description: |-
                        lastTransitionTime is the last time the condition transitioned from one status to another.
                        This should be when the underlying condition changed.  If that is not known, then using the time when the API field changed is acceptable.
                      format: date-time
                      type: string
                    message:
                      description: |-
                        message is a human readable message indicating details about the transition.
                        This may be an empty string.
                      maxLength: 32768
                      type: string
                    observedGeneration:
                      description: |-
                        observedGeneration represents the .metadata.generation that the condition was set based upon.
                        For instance, if .metadata.generation is currently 12, but the .status.conditions[x].observedGeneration is 9, the condition is out of date
                        with respect to the current state of the instance.
                      format: int64
                      minimum: 0
                      type: integer
                    reason:
                      description: |-
                        reason contains a programmatic identifier indicating the reason for the condition's last transition.
                        Producers of specific condition types may define expected values and meanings for this field,
                        and whether the values are considered a guaranteed API.
                        The value should be a CamelCase string.
                        This field may not be empty.
                      maxLength: 1024
                      minLength: 1
                      pattern: ^[A-Za-z]([A-Za-z0-9_,:]*[A-Za-z0-9_])?$
                      type: string
                    status:
                      description: status of the condition, one of True, False, Unknown.
                      enum:
                      - "True"
                      - "False"
                      - Unknown
                      type: string
                    type:
                      description: type of condition in CamelCase or in foo.example.com/CamelCase.
                      maxLength: 316
                      pattern: ^([a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*/)?(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])$
                      type: string
                  required:
                  - lastTransitionTime
                  - message
                  - reason
                  - status
                  - type
                  type: object
                type: array
              sealedNodes:
                description: Sealed nodes
                items:
                  type: string
                type: array
              vaultStatus:
                description: Status of the vault
                type: string
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  labels:
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: vault-unseal-controller
  name: vault-unseal-controller-controller-manager
  namespace: vault-unseal-controller-system
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  labels:
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: vault-unseal-controller
  name: vault-unseal-controller-leader-election-role
  namespace: vault-unseal-controller-system
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: vault-unseal-controller-manager-role
rules:
- apiGroups:
  - ""
  resources:
  - pods
  - secrets
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - batch
  resources:
  - jobs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - platform.didactiklabs.io
  resources:
  - unseals
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - platform.didactiklabs.io
  resources:
  - unseals/finalizers
  verbs:
  - update
- apiGroups:
  - platform.didactiklabs.io
  resources:
  - unseals/status
  verbs:
  - get
  - patch
  - update
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: vault-unseal-controller-metrics-auth-role
rules:
- apiGroups:
  - authentication.k8s.io
  resources:
  - tokenreviews
  verbs:
  - create
- apiGroups:
  - authorization.k8s.io
  resources:
  - subjectaccessreviews
  verbs:
  - create
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: vault-unseal-controller-metrics-reader
rules:
- nonResourceURLs:
  - /metrics
  verbs:
  - get
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: vault-unseal-controller
  name: vault-unseal-controller-unseal-admin-role
rules:
- apiGroups:
  - platform.didactiklabs.io
  resources:
  - unseals
  verbs:
  - '*'
- apiGroups:
  - platform.didactiklabs.io
  resources:
  - unseals/status
  verbs:
  - get
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: vault-unseal-controller
  name: vault-unseal-controller-unseal-editor-role
rules:
- apiGroups:
  - platform.didactiklabs.io
  resources:
  - unseals
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - platform.didactiklabs.io
  resources:
  - unseals/status
  verbs:
  - get
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: vault-unseal-controller
  name: vault-unseal-controller-unseal-viewer-role
rules:
- apiGroups:
  - platform.didactiklabs.io
  resources:
  - unseals
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - platform.didactiklabs.io
  resources:
  - unseals/status
  verbs:
  - get
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  labels:
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: vault-unseal-controller
  name: vault-unseal-controller-leader-election-rolebinding
  namespace: vault-unseal-controller-system
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: vault-unseal-controller-leader-election-role
subjects:
- kind: ServiceAccount
  name: vault-unseal-controller-controller-manager
  namespace: vault-unseal-controller-system
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  labels:
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: vault-unseal-controller
  name: vault-unseal-controller-manager-rolebinding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: vault-unseal-controller-manager-role
subjects:
- kind: ServiceAccount
  name: vault-unseal-controller-controller-manager
  namespace: vault-unseal-controller-system
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: vault-unseal-controller-metrics-auth-rolebinding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: vault-unseal-controller-metrics-auth-role
subjects:
- kind: ServiceAccount
  name: vault-unseal-controller-controller-manager
  namespace: vault-unseal-controller-system
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: vault-unseal-controller
    control-plane: controller-manager
  name: vault-unseal-controller-controller-manager-metrics-service
  namespace: vault-unseal-controller-system
spec:
  ports:
  - name: https
    port: 8443
    protocol: TCP
    targetPort: 8443
  selector:
    app.kubernetes.io/name: vault-unseal-controller
    control-plane: controller-manager
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: vault-unseal-controller
    control-plane: controller-manager
  name: vault-unseal-controller-controller-manager
  namespace: vault-unseal-controller-system
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: vault-unseal-controller
      control-plane: controller-manager
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: manager
      labels:
        app.kubernetes.io/name: vault-unseal-controller
        control-plane: controller-manager
    spec:
      containers:
      - args:
        - --metrics-bind-address=:8443
        - --leader-elect
        - --health-probe-bind-address=:8081
        command:
        - /manager
        env:
        - name: POD_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: UNSEALER_IMAGE
          value: gcr.io/didactiklabs/vault-unsealer:latest
        image: didactiklabs.io/vault-unseal-controller:e2e-test
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 15
          periodSeconds: 20
        name: manager
        ports: []
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
          initialDelaySeconds: 5
          periodSeconds: 10
        resources:
          limits:
            cpu: 500m
            memory: 128Mi
          requests:
            cpu: 10m
            memory: 64Mi
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - ALL
          readOnlyRootFilesystem: true
        volumeMounts: []
      securityContext:
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
      serviceAccountName: vault-unseal-controller-controller-manager
      terminationGracePeriodSeconds: 10
      volumes: []
