---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.19.0
  name: unseals.platform.didactiklabs.io
spec:
  group: platform.didactiklabs.io
  names:
    kind: Unseal
    listKind: UnsealList
    plural: unseals
    singular: unseal
  scope: Cluster
  versions:
  - additionalPrinterColumns:
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    - jsonPath: .status.vaultStatus
      name: Vault Status
      type: string
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Unseal is the Schema for the unseals API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: spec defines the desired state of Unseal
            properties:
              caCertSecret:
                description: Reference to secret containing CA certificate for validating
                  requests against vault instances (need to be in the same namespace
                  as the threshold keys secret)
                type: string
              retryCount:
                default: 3
                description: Number of retry, default is 3
                format: int32
                type: integer
              thresholdKeysSecretRef:
                description: Reference to secret containing threshold keys. Threshold
                  keys are unseal keys required to unseal your vault instance(s)
                properties:
                  name:
                    description: Name of the secret
                    type: string
                  namespace:
                    description: Namespace of the secret
                    type: string
                required:
                - name
                - namespace
                type: object
              tlsSkipVerify:
                default: false
                description: Boolean to define if you want to skip tls certificate
                  validation. Set true of false (default is false)
                type: boolean
              vaultNodes:
                description: 'An array of vault instances to call api endpoints for
                  unseal, example for one instance: https://myvault01.domain.local:8200'
                items:
                  type: string
                type: array
            required:
            - thresholdKeysSecretRef
            - vaultNodes
            type: object
          status:
            description: status defines the observed state of Unseal
            properties:
              conditions:
                items:
                  description: Condition contains details for one aspect of the current
                    state of this API Resource.
                  properties:
                    lastTransitionTime:
                      description: |-
                        lastTransitionTime is the last time the condition transitioned from one status to another.
                        This should be when the underlying condition changed.  If that is not known, then using the time when the API field changed is acceptable.
                      format: date-time
                      type: string
                    message:
                      description: |-
                        message is a human readable message indicating details about the transition.
                        This may be an empty string.
                      maxLength: 32768
                      type: string
                    observedGeneration:
                      description: |-
                        observedGeneration represents the .metadata.generation that the condition was set based upon.
                        For instance, if .metadata.generation is currently 12, but the .status.conditions[x].observedGeneration is 9, the condition is out of date
                        with respect to the current state of the instance.
                      format: int64
                      minimum: 0
                      type: integer
                    reason:
                      description: |-
                        reason contains a programmatic identifier indicating the reason for the condition's last transition.
                        Producers of specific condition types may define expected values and meanings for this field,
                        and whether the values are considered a guaranteed API.
                        The value should be a CamelCase string.
                        This field may not be empty.
                      maxLength: 1024
                      minLength: 1
                      pattern: ^[A-Za-z]([A-Za-z0-9_,:]*[A-Za-z0-9_])?$
                      type: string
                    status:
                      description: status of the condition, one of True, False, Unknown.
                      enum:
                      - "True"
                      - "False"
                      - Unknown
                      type: string
                    type:
                      description: type of condition in CamelCase or in foo.example.com/CamelCase.
                      maxLength: 316
                      pattern: ^([a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*/)?(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])$
                      type: string
                  required:
                  - lastTransitionTime
                  - message
                  - reason
                  - status
                  - type
                  type: object
                type: array
              sealedNodes:
                description: Sealed nodes
                items:
                  type: string
                type: array
              vaultStatus:
                description: Status of the vault
                type: string
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
